<%= form_for @product do |f| %>
	<p><%= f.label :title %></p>
	<p><%= f.text_field :title %></p>
	<p><%= f.label :category %></p>
	<p><%= f.text_field :category %></p>
	<p><%= f.label :price %></p>
	<p><%= f.text_field :price %></p>
	<p><%= f.label :photo %></p>
	<p><%= f.text_field :photo %></p>
	<p><%= f.submit %></p>
<% end %>