<%= form_for([@product, @product.reviews.build]) do |f| %>
	
	<div class="field">
	<%= f.label :stars %><br />
	<%= f.text_field :stars %>
	</div>
	
	<div class="field">
		<%= f.label :description %><br />
		<%= f.text_field :description %>
	</div>

	<div class="actions">
		<br /><%= f.submit %>
	</div>
<% end %>